* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
}

.bgimg {
    background-position: center;
    background-size: cover;
    background-image: url('./assets/nbl_img.png');
    min-height: 75%;
}

.menu {
    display: none;
}

/* h1 {
    text-align: center;
}

#navbar {
    display: flex;
    justify-content: space-evenly;
    padding: 0 30px;
}

#baseInfo {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

#sectionContents {
    border: 1px solid black;
    height: 90vh;
    width: 100%;
} */